/* Custom Stylesheet */
.vertical-section {
	height: auto;
	width: 30%;
	display: inline-block;
	z-index: 10;
		
	overflow: visible;
  	margin: 5px 5px;
  	text-align: left;
  	vertical-align: text-top;
}

.vertical-section .main-title {
	font-size: 1.5em;
	padding: 20px 0;
	text-align: center;
	display: block;
	width: 100%;
}

.main {
	display:inline-block;
}

h2 {
	margin: 20px;
}

.account-section {
	display: block;	
	height: 100px;
}

.account-section .info{
	color: rgba(0,0,0,0.54);
    margin: 8px 0px;
    padding: 0 12px;
    text-align: left;
}

.account-section .title {
	color: rgb(0,0,0);
	font-size: 1.3em;
	margin: 15px 12px;
}
